<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form th:action="@{/student/add-semester}" method="post" th:object="${studentDto}" >

        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="smester">semester</label>
            <select th:field="*{semester.id}"  class="browser-default custom-select" id="smester">

                <th:block th:each="semester:${semesterDtoList}" th:if="${studentDto.getSemester()==null }" >
                    <option th:if="${studentDto.getDepartment().getId()==semester.getDepartment().getId()}" th:text="${semester.getName()}" th:value="${semester.getId()}">
                        semester
                    </option>
                </th:block>



                <th:block th:each="semester:${semesterDtoList}" th:if="${studentDto.getSemester()!=null }" >
                    <th:block th:if="${!#lists.contains(studentDto.get_completedSemesters_idList() , semester.getId())}">
                    <option th:if="${studentDto.getDepartment().getId()==semester.getDepartment().getId()}"  th:value="${semester.getId()}"   th:text="${semester.getName()}"
                            th:selected="${studentDto.getSemester().getId()}">semesters
                    </option>
                    </th:block>
                </th:block>

<!--                <option th:if="${studentDto.getSemester()==null }"th:each="semester:${semesterDtoList}" th:value="${semester.getId()}" th:text="${semester.getName()}">-->
<!--                    semester-->
<!--                </option>-->
<!--                <option th:if="${studentDto.getSemester()!=null }" th:each="semester:${semesterDtoList}" th:value="${semester.getId()}"   th:text="${semester.getName()}"-->
<!--                        th:selected="${studentDto.getSemester().getId()}">semesters-->
<!--                </option>-->

            </select>

            <div class="form-group">



        <div class="form-group">



        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>

        </div>
        <!--        <p>-->
        <!--            <label>Roles:-->
        <!--                <input type="checkbox" name="courses"-->
        <!--                       th:each="course : ${courseDtoList}"-->
        <!--                       th:text="${course.getName()}"-->
        <!--                       th:value="${course.getId()}"-->
        <!--                       th:field="*{courseList}"-->
        <!--                />-->
        <!--            </label>-->
        <!--        </p>-->
    </form>
</div>



<div th:replace="fragments/footer::footer"></div>
</body>
</html>