<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form th:action="@{/student/add-extra-course}" method="post" th:object="${studentDto}" >

        <input type="hidden" th:field="*{id}">

        <!--        <select class="form-control" id="courseList" name="courseList" multiple="multiple">-->
        <!--            <option th:each="course : ${courseDtoList}"-->
        <!--                    th:value="${course.getId()}"-->
        <!--                    th:field="*{courseList}"-->
        <!--                    th:text="${course.getName()}"-->
        <!--                    th:if="${course.getSemester()!=null}"-->
        <!--                    th:selected="${semesterDto.getId()==course.getSemester().getId()}"-->
        <!--            >Part name-->

        <!--            </option>-->
        <!--            <option th:each="course : ${courseDtoList}"-->
        <!--                    th:value="${course.getId()}"-->
        <!--                    th:text="${course.getName()}"-->
        <!--                    -->

        <!--            >Part name-->

        <!--            </option>-->
        <!--        </select>-->



        <select class="form-control" id="courseList" name="extraCourseList" multiple="multiple">
            <th:block th:each="course : ${courseDtoList}">
                <!--                checking if the course has the same department as semester-->
                <th:block th:if="${course.getDepartment().getId()==studentDto.getDepartment().getId()}">
                    <!--                checking weather the course is assigned to a semester or not-->
                    <th:block th:if="${course.getSemester()!=null}">
                        <!--if the course is assigned to semester and if the semesterDto is that semester we are goi
                        to show that option or if the course belong to other smester we will not show it as option
                        -->
                        <th:block th:if="${studentDto.get_extraCourseIdList()!=null}">
                        <th:block th:if="${course.getSemester().getId()!=studentDto.getSemester().getId()}">
                            <option
                                    th:value="${course.getId()}"
                                    th:text="${course.getName()}"
                                    th:if="${course.getSemester()!=null}"
                                    th:selected="${#lists.contains(studentDto.get_extraCourseIdList(),course.getId())}"
                            >Department name

                            </option>
                        </th:block>
                        </th:block>

                        <th:block th:if="${studentDto.get_extraCourseIdList()==null}">
                            <th:block th:if="${course.getSemester().getId()!=studentDto.getSemester().getId()}">
                                <option
                                        th:value="${course.getId()}"
                                        th:text="${course.getName()}"
                                        th:if="${course.getSemester()!=null}"
                                >Department name

                                </option>
                            </th:block>
                        </th:block>
                    </th:block>

                    <!--                    showing the course that ar not assigned to a semster-->
                    <option
                            th:value="${course.getId()}"
                            th:text="${course.getName()}"
                            th:unless="${course.getSemester()!=null}"
                    >department name
                    </option>


                </th:block>

            </th:block>

        </select>



        <!--                <div class="form-group">-->


        <!--                &lt;!&ndash; /.card-body &ndash;&gt;-->

        <!--                <div class="card-footer">-->
        <!--                    <button type="submit" class="btn btn-primary">Submit</button>-->
        <!--                </div>-->
        <!--                <div>-->

        <!--                </div>-->
        <!--        <p>-->
        <!--            <label>Courses:-->
        <!--                <th:block  th:each="course : ${courseDtoList}">-->
        <!--                    <th:block th:if="${course.getSemester()!=null}">-->
        <!--                        <input type="checkbox" name="courses"-->

        <!--                               th:text="${course.getName()}"-->
        <!--                               th:value="${course.getId()}"-->
        <!--                               th:field="*{courseList}"-->
        <!--                               checked="checked"-->
        <!--                        />-->
        <!--                    </th:block>-->
        <!--                    <th:block th:unless="${course.getSemester()!=null}">-->
        <!--                        <input type="checkbox" name="courses"-->

        <!--                               th:text="${course.getName()}"-->
        <!--                               th:value="${course.getId()}"-->
        <!--                               th:field="*{courseList}"-->
        <!--                               checked="checked"-->
        <!--                        />-->
        <!--                    </th:block>-->

        <!--                </th:block>-->

        <!--            </label>-->
        <!--        </p>-->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>

        </div>
</div>

</form>
</div>



<div th:replace="fragments/footer::footer"></div>
</body>
</html>