<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>
<body>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Student List</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department name</th>
                        <th>Semester</th>
                        <th>Action</th>
                        <!--                        <th>Date</th>-->
                        <!--                        <th>Status</th>-->
                        <!--                        <th>Reason</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempstudent :${studentDtoList}">
                        <td th:text="${tempstudent.getId()}"></td>
                        <td th:text="${tempstudent.getName()}"></td>
                        <td th:if="${tempstudent.getDepartment()!=null}" th:text="${tempstudent.getDepartment().getName()}" ></td>
                        <td th:if="${tempstudent.getSemester()!=null}" th:text="${tempstudent.getSemester().getName()}"></td>
                        <td th:unless="${tempstudent.getDepartment()!=null}"  >null</td>
                        <td th:unless="${tempstudent.getSemester()!=null}">null</td>


                        <td>
                            <a th:href="@{/student/update/{id}(id = ${tempstudent.getId()})}" class="btn btn-primary btn-sm mb-3" > update </a>
                            <a th:href="@{/student/delete/{id}(id = ${tempstudent.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>
                            <a th:href="@{/student/view/{id}(id = ${tempstudent.getId()})}" class="btn btn-primary btn-sm mb-3"> View </a>
                            <a th:href="@{/student/add-semester/{id}(id = ${tempstudent.getId()})}" class="btn btn-primary btn-sm mb-3"> semester-enrollment </a>
                            <a th:href="@{/student/add-extra-course/{id}(id = ${tempstudent.getId()})}" class="btn btn-primary btn-sm mb-3"> add-extra-courses </a>

                        </td>
                        <!--                        <td>John Doe</td>-->
                        <!--                        <td>11-7-2014</td>-->
                        <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                        <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</body>
</html>