<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>
<body>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Student Infor</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department name</th>
                        <th>Semester</th>
                        <th>Action</th>
                        <!--                        <th>Date</th>-->
                        <!--                        <th>Status</th>-->
                        <!--                        <th>Reason</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${studentDto.getId()}"></td>
                        <td th:text="${studentDto.getName()}"></td>
                        <td th:if="${studentDto.getDepartment()!=null}" th:text="${studentDto.getDepartment().getName()}" ></td>
                        <td th:if="${studentDto.getSemester()!=null}" th:text="${studentDto.getSemester().getName()}"></td>
                        <td th:unless="${studentDto.getDepartment()!=null}"  >null</td>
                        <td th:unless="${studentDto.getSemester()!=null}">null</td>


                        <td>
                            <a th:href="@{/student/update/{id}(id = ${studentDto.getId()})}" class="btn btn-primary btn-sm mb-3" > update </a>
                            <a th:href="@{/student/delete/{id}(id = ${studentDto.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>
                            <a th:href="@{/student/add-semester/{id}(id = ${studentDto.getId()})}" class="btn btn-primary btn-sm mb-3"> semester-enrollment </a>
                        </td>
                        <!--                        <td>John Doe</td>-->
                        <!--                        <td>11-7-2014</td>-->
                        <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                        <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <th:block  th:if="${studentDto.getSemester()!=null }" >

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Subjects of Enrolled Semester</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>

                                    <!--                        <th>Date</th>-->
                                    <!--                        <th>Status</th>-->
                                    <!--                        <th>Reason</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tempsubject :${studentDto.getSemester().getCourseList()}">
                                    <td th:text="${tempsubject.getId()}"></td>
                                    <td th:text="${tempsubject.getName()}"></td>


                                    <!--                        <td>John Doe</td>-->
                                    <!--                        <td>11-7-2014</td>-->
                                    <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                                    <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!----------------------------------------------->
                    <!-- /.card -->
                    <th:block  th:if="${studentDto.getExtraCourseList()!=null }" >

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Subjects of out of Enrolled Semester</h3>

                                        <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0" style="height: 300px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>

                                                <!--                        <th>Date</th>-->
                                                <!--                        <th>Status</th>-->
                                                <!--                        <th>Reason</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="tempsubject :${studentDto.getExtraCourseList()}">
                                                <td th:text="${tempsubject.getId()}"></td>
                                                <td th:text="${tempsubject.getName()}"></td>


                                                <!--                        <td>John Doe</td>-->
                                                <!--                        <td>11-7-2014</td>-->
                                                <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                                                <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->

                </div>
            </div>

        </th:block>

    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</body>
</html>l>