<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Course form</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form th:action="@{/course/save}" method="post" th:object="${courseDto}" >
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Course Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail1" placeholder="Enter course name">
                <input type="hidden" th:field="*{id}">
            </div>

            <div class="form-group">
                <label for="role">Department</label>
                <select th:field="*{department.id}"  class="browser-default custom-select" id="role">

                    <option th:if="${courseDto.getDepartment()==null}"th:each="department:${departmentDtoList}" th:value="${department.getId()}" th:text="${department.getName()}">
                        Roles
                    </option>
                    <option th:if="${courseDto.getDepartment()!=null}" th:each="department:${departmentDtoList}" th:value="${department.getId()}" th:text="${department.getName()}"
                            th:selected="${courseDto.getDepartment().getId()}">Roles
                    </option>

                </select>

                <div class="form-group">

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>


        </div>
            </div>
        </div>
    </form>
</div>



<div th:replace="fragments/footer::footer"></div>
</body>
</html>