<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>
<body>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Semester Info</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>semester name</th>
                        <th>Action</th>
                        <!--                        <th>Date</th>-->
                        <!--                        <th>Status</th>-->
                        <!--                        <th>Reason</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${semesterDto.getId()}"></td>
                        <td th:text="${semesterDto.getName()}"></td>

                        <td>
                            <a th:href="@{/semester/update/{id}(id = ${semesterDto.getId()})}" class="btn btn-primary btn-sm mb-3" > update </a>
                            <a th:href="@{/semester/delete/{id}(id = ${semesterDto.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>

                        </td>
                        <!--                        <td>John Doe</td>-->
                        <!--                        <td>11-7-2014</td>-->
                        <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                        <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <h1 th:text="'course info of '+${semesterDto.getName()}+' semester'"></h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>course name</th>

                                <!--                        <th>Date</th>-->
                                <!--                        <th>Status</th>-->
                                <!--                        <th>Reason</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tempcourse:${semesterDto.getCourseList()}">

                                <td th:text="${tempcourse.getId()}"></td>
                                <td th:text="${tempcourse.getName()}"></td>

                            </tr>
<!--                            <tr th:each="tempcourse:${courseDtoList}">-->
<!--                                <th:block th:if="${listOfCourseId.contains(tempcourse.getId())}">-->
<!--                                    <td th:text="${tempcourse.getId()}"></td>-->
<!--                                    <td th:text="${tempcourse.getName()}"></td>-->
<!--                                </th:block>-->

<!--                            </tr>-->


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- /.card -->
                <h1 th:text="'student info of '+${semesterDto.getName()}+' semester'"></h1>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"></h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <table class="table table-head-fixed text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Student name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="tempstudent:${semesterDto.getStudentList()}">
                                        <td th:text="${tempstudent.getId()}"></td>
                                        <td th:text="${tempstudent.getName()}"></td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
    </div>
</div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</body>
</html>l>