<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img th:src="@{/admin/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Department
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/department/list}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Department-list</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/department/add}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add-Department</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Student
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/student/list}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Student-list</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/student/add}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add-Student</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Semester
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/semester/list}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Semester-list</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/semester/add}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add-Semester</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Course
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a th:href="@{/course/list}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Course-list</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/course/add}" class="nav-link active" >
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add-Course</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>


            </nav>

            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

</div>


</body>
</html>