<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>
<body>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Department List</h3>



                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody class="table-body">
<!--                    <tr th:each="tempdepartment :${departmentDtoList}">-->
<!--                        <td th:text="${tempdepartment.getId()}"></td>-->
<!--                        <td th:text="${tempdepartment.getName()}"></td>-->
<!--                        <td>-->
<!--                            <a th:href="@{/department/update/{id}(id = ${tempdepartment.getId()})}" class="btn btn-primary btn-sm mb-3" > update </a>-->
<!--                            <a th:href="@{/department/delete/{id}(id = ${tempdepartment.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>-->
<!--                            <a th:href="@{/department/view/{id}(id = ${tempdepartment.getId()})}" class="btn btn-primary btn-sm mb-3"> view </a>-->
<!--                        </td>-->
<!--                    </tr>-->

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="container" >
    <form class="form form-control">

        <input type="hidden" name="id"/>
        <!----------------------------------------------------------------->
        Name: <input type="text" name="name"/><br><br>
        <!----------------------------------------------------------------->
        <button class="btn badge-primary">Save</button>
    </form>
</div>

<div th:replace="fragments/footer::footer"></div>
<script>
    $(document).ready(function() {

        $.ajax({
            url: '/department/getAll',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (resp) {

                $.each(resp, function (i, item) {
                    var row = `<tr>

                                 <td>${item.id}</td>
                                 <td>${item.name}</td>
                                 <td>
                           <a th:href="@{/department/update/${item.id}}" class="btn btn-primary btn-sm mb-3" > update </a>
                          <a th:href="@{/department/delete/${item.id}}" class="btn btn-primary btn-sm mb-3"> Delete </a>
                          <a th:href="@{/department/view/${item.id}}" class="btn btn-primary btn-sm mb-3"> view </a>
                       </td>

                        </tr>`;
                    $(".table-body").append(row);
                });
            },
            error: function (err) {
                console.log(err);
            }
        });

        $(".form").on('submit', function(e) {
            e.preventDefault();
            var data = JSON.stringify($(this).serializeObject());
            var url = '/department/ajax/save';

            $.ajax({
                data: data,
                url: url,
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function(resp) {
                    console.log(resp);
                    var row = `<tr>
                            <td>${resp.id}</td>
                            <td>${resp.name}</td>
                        </tr>`;
                    $(".table-body").append(row);
                    $("input").val("");
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });



        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    });
</script>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/manage-student.js}"></script>

</body>
</body>
</html>