<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar">

</div>
<div th:replace="fragments/sidebar::sidebar"></div>
<body>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Department Info</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department name</th>
                        <th>Action</th>
                        <!--                        <th>Date</th>-->
                        <!--                        <th>Status</th>-->
                        <!--                        <th>Reason</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${departmentDto.getId()}"></td>
                        <td th:text="${departmentDto.getName()}"></td>

                        <td>
                            <a th:href="@{/department/update/{id}(id = ${departmentDto.getId()})}" class="btn btn-primary btn-sm mb-3" > update </a>
                            <a th:href="@{/department/delete/{id}(id = ${departmentDto.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>

                        </td>
                        <!--                        <td>John Doe</td>-->
                        <!--                        <td>11-7-2014</td>-->
                        <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                        <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Department course Info</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>course name</th>

                                <!--                        <th>Date</th>-->
                                <!--                        <th>Status</th>-->
                                <!--                        <th>Reason</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="tempsemester :${departmentDto.getSemesters()}">
                                <th:block th:each="tempCourse :${tempsemester.getCourseList()}">
                                    <tr>
                                        <td th:text="${tempCourse.getId()}"></td>
                                        <td th:text="${tempCourse.getName()}"></td>

                                        <!--                        <td>John Doe</td>-->
                                        <!--                        <td>11-7-2014</td>-->
                                        <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                                        <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                                    </tr>
                                </th:block>
                            </th:block>


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
        <h1 th:text="'semester info of '+${departmentDto.getName()}+' department'"></h1>
        <th:block th:each="tempsemester :${departmentDto.getSemesters()}" >

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" th:text="${tempsemester.getName()}+' semester subjects' "></h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>

                                    <!--                        <th>Date</th>-->
                                    <!--                        <th>Status</th>-->
                                    <!--                        <th>Reason</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tempsubject :${tempsemester.getCourseList()}">
                                    <td th:text="${tempsubject.getId()}"></td>
                                    <td th:text="${tempsubject.getName()}"></td>


                                    <!--                        <td>John Doe</td>-->
                                    <!--                        <td>11-7-2014</td>-->
                                    <!--                        <td><span class="tag tag-success">Approved</span></td>-->
                                    <!--                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </th:block>
    </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</body>
</html>l>